/*
Prebuilt PC's fitted with different types of PC componenets to fit your needs
*/
/*
@keyframes moveAround{
  0%  {top: -2000px; left: 5%; background-image: linear-gradient(#0c0654, #020f61, #011f41, #0c3066)}
  25% {top: -2000px; left: 7%; background-image: linear-gradient(#0c3066, #0c0654, #020f61, #011f41)}
  50% {top: -1950px; left: 7%; background-image: linear-gradient(#011f41, #0c3066, #0c0654, #020f61)}
  75% {top: -1950px; left: 5%; background-image: linear-gradient(#020f61, #011f41, #0c3066, #0c0654)}
  100%{top: -2000px; left: 5%; background-image: linear-gradient(#0c0654, #020f61, #011f41, #0c3066)} 
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 0%; }

}
*/

@-webkit-keyframes sideboxAnimation {
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}
@-moz-keyframes sideboxAnimation {
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}
@keyframes sideboxAnimation { 
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}

body{
    background-image: url("../Assets/mainmenu.jpg");
    height: 100vh;
    margin: 0;
}

.title{
    text-align: center;
    font-family: 'Share Tech', sans-serif;
    color: white;
    font-size: 2.2pc;
    position: relative;
    top: -60px;
    left: 2%;
    display: inline-block;
    text-shadow: 0 0 0px #fff, 0 0 0px #fff, 
    0 0 0px white, 0 0 10px white, 0 0 10px white, 0 0 50px white;
    transition: all 0.3s;
}

.title:hover{
  top: -52px;
  text-shadow: 0 0 0px #fff, 0 0 0px #fff, 
  0 0 10px white, 0 0 20px white, 0 0 10px white, 0 0 50px white;
}
/*
.gitbutton{
  height: 40px;
  width: 40px;
  background-color: white;
  box-shadow: 0 0 3px black, 0 0 3px black, 
  0 0 0px white, 0 0 10px white, 0 0 10px white, 0 0 50px white;
  border-radius: 50%;
  background-image: url('../Assets/githublogo.png');
  background-size: cover;
  background-position: center;
  display: inline-block;
  margin: auto;
  position: relative; 
  top: -6%;
  left: 85%;
  z-index: 6;
  transition: all 0.3s;
}

.gitbutton:hover{

}
*/
.box{
    position: relative;
    width: 900px;
    height: 2100px;
    padding: 50px;
    margin: auto;
    border: 5px solid white;
    top: -70px;   
    text-align: center;

}



.image-wrapper{
    align-items: center;
}




.headerhome{
  transition: 0.2s;
  border: none;
  background-color: transparent;
  font-size: 1.2pc;
  font-weight: 1000;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  position: relative;
  top: 40px;
  margin: 0;
  left: 15%;
  opacity: 100%;
  text-shadow: 0 0 1px #fff, 0 0 0px #fff, 
  0 0 20px white, 0 0 20px white, 0 0 5px white;
}


.headerhome:hover{
  opacity: 70%;
  top: 42px;
  text-shadow: 0 0 1px #fff, 0 0 0px #fff, 
  0 0 20px white, 0 0 40px white;

}

.headerpcs{
  transition: 0.2s;
  border: none;
  background-color: transparent;
  font-size: 1.2pc;
  font-weight: 1000;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  position: relative;
  top: 40px;
  margin: 0;
  left: 16%;
  opacity: 100%;
  text-shadow: 0 0 1px #fff, 0 0 0px #fff, 
  0 0 20px white, 0 0 20px white, 0 0 5px white;
}

.headerpcs:hover{
  opacity: 70%;
  top: 42px;
  text-shadow: 0 0 1px #fff, 0 0 0px #fff, 
  0 0 20px white, 0 0 40px white;
}

.headerlaptops{
  transition: 0.2s;
  border: none;
  background-color: transparent;
  font-size: 1.2pc;
  font-weight: 1000;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  position: relative;
  top: 40px;
  margin: 0;
  left: 16.5%;
  opacity: 100%;
  text-shadow: 0 0 1px #fff, 0 0 0px #fff, 
  0 0 20px white, 0 0 20px white, 0 0 5px white;
}

.headerlaptops:hover{
  opacity: 70%;
  top: 42px;
  text-shadow: 0 0 1px #fff, 0 0 0px #fff,
  0 0 20px white, 0 0 40px white;
}

.headerconsoles{
  transition: 0.2s;
  border: none;
  background-color: transparent;
  font-size: 1.2pc;
  font-weight: 1000;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  position: relative;
  top: 40px;
  margin: 0;
  left: 17%;
  opacity: 100%;
  text-shadow: 0 0 1px #fff, 0 0 0px #fff, 
  0 0 20px white, 0 0 20px white, 0 0 5px white;

}


.headerconsoles:hover{
  opacity: 70%;
  top: 42px;
  text-shadow: 0 0 1px #fff, 0 0 0px #fff, 
  0 0 20px white, 0 0 40px white;
}

.headerpccomponents{
  transition: 0.2s;
  border: none;
  background-color: transparent;
  font-size: 1.2pc;
  font-weight: 1000;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  position: relative;
  top: 40px;
  margin: 0;
  left: 17%;
  opacity: 100%;
  text-shadow: 0 0 1px #fff, 0 0 0px #fff, 
  0 0 20px white, 0 0 20px white, 0 0 5px white;

}


.headerpccomponents:hover{
  opacity: 70%;
  top: 42px;
  text-shadow: 0 0 1px #fff, 0 0 0px #fff, 
  0 0 20px white, 0 0 40px white;
}

.headerkeyboards{
  transition: 0.2s;
  border: none;
  background-color: transparent;
  font-size: 1.2pc;
  font-weight: 1000;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  position: relative;
  top: 40px;
  margin: 0;
  left: 17%;
  opacity: 100%;
  text-shadow: 0 0 1px #fff, 0 0 0px #fff, 
  0 0 20px white, 0 0 20px white, 0 0 5px white;
}

.headerkeyboards:hover{
  opacity: 70%;
  top: 42px;
  text-shadow: 0 0 1px #fff, 0 0 0px #fff, 
  0 0 20px white, 0 0 40px white;
}

.headermice{
  transition: 0.2s;
  border: none;
  background-color: transparent;
  font-size: 1.2pc;
  font-weight: 1000;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  position: relative;
  top: 40px;
  margin: 0;
  left: 17%;
  opacity: 100%;
  text-shadow: 0 0 1px #fff, 0 0 0px #fff, 
  0 0 20px white, 0 0 20px white, 0 0 5px white;
}

.headermice:hover{
  opacity: 70%;
  top: 42px;
  text-shadow: 0 0 1px #fff, 0 0 0px #fff, 
  0 0 20px white, 0 0 40px white;
}

.headermousepads{
  transition: 0.2s;
  border: none;
  background-color: transparent;
  font-size: 1.2pc;
  font-weight: 1000;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  position: relative;
  top: 40px;
  margin: 0;
  left: 17%;
  opacity: 100%;
  text-shadow: 0 0 1px #fff, 0 0 0px #fff, 
  0 0 20px white, 0 0 20px white, 0 0 5px white;
}

.headermousepads:hover{
  opacity: 70%;
  top: 42px;
  text-shadow: 0 0 1px #fff, 0 0 0px #fff, 
  0 0 20px white, 0 0 40px white;
}

.headerheadsets{
  transition: 0.2s;
  border: none;
  background-color: transparent;
  font-size: 1.2pc;
  font-weight: 1000;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  position: relative;
  top: 40px;
  margin: 0;
  left: 17%;
  opacity: 100%;
  text-shadow: 0 0 1px #fff, 0 0 0px #fff, 
  0 0 20px white, 0 0 20px white, 0 0 5px white;
}

.headerheadsets:hover{
  opacity: 70%;
  top: 42px;
  text-shadow: 0 0 1px #fff, 0 0 0px #fff, 
  0 0 20px white, 0 0 40px white;
}


.pcsbutton{
  
  text-align: center;
  font-size: 1.5pc;
  font-weight: 1000;
  color: white;
  background-color: transparent;
  border: 2px white;
  background-image: url("../Assets/mainpcs.png");
  background-size: cover;

  position: relative; 
  height: 415px;
  top: -50px;
  left: -5.5%;
  width: 1000px;
 

}

.pcsbutton:hover{
opacity: 95%;
}

#pcs{
  text-align: center;
  font-size: 3pc;
  font-weight: 800;
  color: white;
  background-color: transparent;
  border: 2px white;
  position: relative;
  top: 75%;
  left: -40%;
  text-shadow: 0 0 0px #fff, 0 0 0px #fff, 
  0 0 0px white, 0 0 0.1px white, 0 0 2px white, 0 0 10px white;
  transition: all 0.5s;
  margin: 5px;
}


.hl{
  border-top: 5px solid white;
  position: relative; 
  top: -2.4%;
  width: 1005px;
  left: -6%;
}


.keyboardsbutton{
  text-align: center;
  font-size: 1.5pc;
  font-weight: 1000;
  color: white;
  background-color: transparent;
  border: 2px white;
  background-image: url("../Assets/mainkeyboard.jpg");
  background-size: cover;
  position: relative; 
  height: 415px;
  top: -50px;
  left: -5.5%;
  width: 500px;
  z-index: 1;
}

.keyboardsbutton:hover{
  opacity: 95%;
}

#keyboards{
  text-align: center;
  font-size: 1.5pc;
  font-weight: 800;
  color: white;
  background-color: transparent;
  border: 2px white;
  position: relative;
  top: 80%;
  left: -32%;
  text-shadow: 0 0 0px #fff, 0 0 0px #fff, 
  0 0 0px white, 0 0 0.1px white, 0 0 2px white, 0 0 10px white;

}

.vl{
  border-left: 5px solid white;
  height: 415px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 19%;
  z-index: 3;
}

.micebutton{
  text-align: center;
  font-size: 1.5pc;
  font-weight: 1000;
  color: white;
  background-color: transparent;
  border: 2px white;
  background-image: url("../Assets/mainmice.jpg");
  background-size: cover;
  opacity: 100%;
  position: relative; 
  height: 415px;
  top: -465px;
  right: -50%;
  width: 500px;
  z-index: 2;
}

.micebutton:hover{
  opacity: 95%;
}

#mice{
  text-align: center;
  font-size: 1.5pc;
  font-weight: 800;
  color: white;
  background-color: transparent;
  border: 2px white;
  position: relative;
  top: 80%;
  left: -32%;
  text-shadow: 0 0 0px #fff, 0 0 0px #fff, 
  0 0 0px white, 0 0 0.1px white, 0 0 2px white, 0 0 10px white;
}

.hl1{
  border-top: 5px solid white;
  position: relative; 
  top: -22.3%;
  width: 1005px;
  left: -6%;
  z-index: 4;
}


.mousepadbutton{
  text-align: center;
  font-size: 1.5pc;
  font-weight: 1000;
  color: white;
  background-color: transparent;
  border: 2px white;
  background-image: url("../Assets/mainmousepad.jpg");
  background-size: cover;
  opacity: 100%;
  position: relative; 
  height: 415px;
  top: -467px;
  left: -5.5%;
  width: 500px;
  z-index: 2;
}

.mousepadbutton:hover{
  opacity: 95%;
}

#mousepads{
  text-align: center;
  font-size: 1.5pc;
  font-weight: 800;
  color: white;
  background-color: transparent;
  border: 2px white;
  position: relative;
  top: 80%;
  left: -32%;
  text-shadow: 0 0 0px #fff, 0 0 0px #fff, 
  0 0 0px white, 0 0 0.1px white, 0 0 2px white, 0 0 10px white;
}

.vl1{
  border-left: 5px solid white;
  height: 415px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 38%;
  z-index: 3;
}

.headsetbutton{
  text-align: center;
  font-size: 1.5pc;
  font-weight: 1000;
  color: white;
  background-color: transparent;
  border: 2px white;
  background-image: url("../Assets/mainheadset.jpeg");
  background-size: cover;
  opacity: 100%;
  position: relative; 
  height: 415px;
  top: -883px;
  right: -50%;
  width: 500px;
  z-index: 1;
}

.headsetbutton:hover{
  opacity: 95%;
}

#headsets{
  text-align: center;
  font-size: 1.5pc;
  font-weight: 800;
  color: white;
  background-color: transparent;
  border: 2px white;
  position: relative;
  top: 80%;
  left: -32%;
  text-shadow: 0 0 0px #fff, 0 0 0px #fff, 
  0 0 0px white, 0 0 0.1px white, 0 0 2px white, 0 0 10px white;
}

.hl2{
  border-top: 5px solid white;
  position: relative; 
  top: -42.3%;
  width: 1005px;
  left: -6%;
  z-index: 4;
}

.laptopsbutton{
  text-align: center;
  font-size: 1.5pc;
  font-weight: 1000;
  color: white;
  background-color: transparent;
  border: 2px white;
  background-image: url("../Assets/mainlaptop.jpg");
  background-size: cover;
  opacity: 100%;
  position: relative; 
  height: 415px;
  top: -886px;
  right: 5.5%;
  width: 998px;
  z-index: 1;
}

.laptopsbutton:hover{
  opacity: 95%;
}
#laptops{
  text-align: center;
  font-size: 3pc;
  font-weight: 800;
  color: white;
  background-color: transparent;
  border: 2px white;
  position: relative;
  top: 75%;
  left: -35%;
  text-shadow: 0 0 0px #fff, 0 0 0px #fff, 
  0 0 0px white, 0 0 0.1px white, 0 0 2px white, 0 0 10px white;
}

.hl3{
  border-top: 5px solid white;
  position: relative; 
  top: -42.3%;
  width: 1005px;
  left: -6%;
  z-index: 4;
}

.consolesbutton{
  text-align: center;
  font-size: 1.5pc;
  font-weight: 1000;
  color: white;
  background-color: transparent;
  border: 2px white;
  background-image: url("../Assets/mainconsole.png");
  background-size: cover;
  opacity: 100%;
  position: relative; 
  height: 530px;
  top: -890px;
  right: 5.8%;
  z-index: 2;
}



.consolesbutton:hover{
  opacity: 95%;
}

#consoles{
  text-align: center;
  font-size: 3pc;
  font-weight: 800;
  color: white;
  background-color: transparent;
  border: 2px white;
  position: relative;
  top: 10%;
  left: -35%;
  text-shadow: 0 0 0px #fff, 0 0 0px #fff, 
  0 0 0px white, 0 0 0.1px white, 0 0 2px white, 0 0 10px white;
}


.dl1{
  border-top: 5px solid white;
  position: relative; 
  top: -54.9%;
  width: 1140px;
  left: -13.5%;
  z-index: 4;
  transform: rotate(-28deg);
}

.pccomponentsbutton{
  text-align: center;
  font-size: 1.5pc;
  font-weight: 1000;
  color: white;
  background-color: transparent;
  border: 2px white;
  background-image: url("../Assets/mainpccomponent.png");
  background-size: cover;
  opacity: 100%;
  position: relative; 
  height: 540px;
  top: -1435px;
  right: 5.8%;
  width: 1002px;
  z-index: 1;
}

.pccomponentsbutton:hover{
  opacity: 95%;
}

#pccomponents{
  text-align: center;
  font-size: 3pc;
  font-weight: 800;
  color: white;
  background-color: transparent;
  border: 2px white;
  position: relative;
  top: 80%;
  left: 25%;
  text-shadow: 0 0 0px #fff, 0 0 0px #fff, 
  0 0 0px white, 0 0 0.1px white, 0 0 2px white, 0 0 10px white
}


.side-box{
width: 300px;
height: 1700px;
position: relative;
top: -2000px;
left: 5%;
z-index: -2;
border: 5px solid;
border-radius: 25px;
border-image: conic-gradient(from 0deg, red, orange, yellow, green, cyan, blue, magenta, purple) 1;
border-image-slice: 25px;
/* animation-name: moveAround;
animation-duration: 4s;
animation-iteration-count: infinite;
animation-delay: 1s;
animation-direction: normal; */
background: linear-gradient(130deg, #0c0654, #02179c, #022a57, #10366e);
background-size: 200% 200%;
-webkit-animation: sideboxAnimation 5s ease infinite;
-moz-animation: sideboxAnimation 5s ease infinite;
animation: sideboxAnimation 5s ease infinite, borderRotate 10s linear infinite;
}




.infotab{
  width: 100%;
  height: 150px;
  margin: auto;
  border-radius: 20px;
  background-color: rgb(14, 13, 13);
  text-align: center;
  position: absolute;
  top: 280%;
  left: 0%;
  opacity: 98%;
}

.p1{
  font-family: 'Nunito', sans-serif;
  font-size: 1.2pc;
  text-align: center;
  position: absolute;
  top: -10%;
  color: white;
}

.gitbutton{
  position: absolute;
  position: center;
  top: 0%;
  left: 0%;
  background-image: url("../Assets/githublogo.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50px;
  border: 50px solid white;
  border-width: 5px;
  display: inline-block;
  transition: 0.2s;
  opacity: 100%;
  z-index: 10;
  background-size: 100%;
}

.gitbutton:hover{
  top: 47%;
  opacity: 80%;
}

.gitbutton:focus{
  border: 50px solid rgb(146, 145, 145);
  border-radius: 40px;
}


.gitbutton:active{
  width: 60px;
  height: 60px;
}